@import "Dashboard.css";
@import "Panel.css";
@import "Settings.css";
@import "NewIssue.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* live gradient background */
.content {
  position: absolute;
  margin-top: 0px;
  background-Image: linear-gradient(127deg, rgba(154,67,252,1) 19%, rgba(197,76,232,1) 37%, rgba(241,13,255,1) 56%, rgba(255,8,132,1) 72%, rgba(203,222,50,1) 100%);
  width: 100%;
  height: 100%;
  background-size: 300%;
  animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
  0% { background-position: left; }
  100% { background-position: right; }
}