.Panel {
    width: 200px;
    background: #aad4f5;
    height: 100vh;
    padding-left: 20px;
}

.Panel__EmptyPad {
    height: 56px;
}

.Panel__Home {
    display: inline-flex;
    padding-top: 10px;
}

.Panel__HomeText {
    font-size: 22px;
    padding-left: 5px;
}

.Panel__Content {
    display: contents;
    margin-top: 56px;
    width: 100%;
    height: 100vh;
}

.Panel__NewIssue {
    display: inline-flex;
}

.Panel__NewIssueText {
    font-size: 15px;
    padding-left: 5px;
}

.btn_test {
    padding: 4px 10px;
    cursor: pointer;
    opacity: 0.6;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid transparent;
    transition: ease border-bottom 250ms;
}

.btn_test:active {
    border-bottom: 2px solid black;
    opacity: 1;
}

.btn_test.active {
    border-bottom: 2px solid black;
    opacity: 1;
}


/* .Panel__box {
    display: inherit;
    width: 100%;
    height: 100%;
    background-color: red;
} */