.Panel {
    width: 200px;
    background: #aad4f5;
    height: 100vh;
    padding-left: 20px;
}

.Panel__EmptyPad {
    height: 56px;
}

.Panel__Home {
    display: inline-flex;
    padding-top: 10px;
}

.Panel__HomeText {
    font-size: 22px;
}

.Panel__Content {
    display: contents;
    margin-top: 56px;
    width: 100%;
    height: 100vh;
}

/* .Panel__box {
    display: inherit;
    width: 100%;
    height: 100%;
    background-color: red;
} */