.Settings__wrapper {
    background: rgb(230, 230, 230);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.Settings__container {
    max-width: 800px;
    width: 100%;
    padding: 25px 30px;
    background: #fff;
    border-radius: 10px;
}

#Settings__emptypad {
    height: 56px;
}

.Settings__container .Title {
    font-size: 25px;
    font-weight: 500;
}

.Settings__Image__Wrapper {
    display: flex;
    margin: 10px;
}

.User__name,
.User__email,
.User__birthday,
.User__gender {
    margin: 20px;
}

.Title {
    margin: 10px;
}

.details {
    padding: 5px;
}

.User__name .details {
    padding-right: 24px;
}

.User__gender .details {
    padding-right: 12px;
}