.Settings {
    margin-top: 56px;
    width: 100%;
}

.Settings__wrapper {
    background: rgb(230, 230, 230);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.Settings__container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background: #fff;
    border-radius: 10px;
}

.Settings__container .Title {
    font-size: 25px;
    font-weight: 500;
}

.Settings__Image__Wrapper {
    display: flex;
    margin: 10px;
}

.User__name,
.User__email {
    margin: 20px;
}

.Tittle {
    margin: 20px;
}

.details {
    padding: 5px;
}